@import url('http://fonts.cdnfonts.com/css/covington-sc-rev');

body {
    font-family: "Covington SC Rev", sans-serif;
    background-image: url(ugly_background.jpg);
}

.container {
    margin-left: 5%;
    margin-top: 5%;
    width: 60%;
    float: left;
}

.sidebar {
    margin-top: 10%;
    margin-right: 5%;
    float: right;
    width: 17%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
}

.links {
    text-align: center;
}

img {
    display: block;
    border-radius: 5%;
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 3px solid rgb(197, 59, 117);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    margin-left: 42%;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    background-color: yellowgreen;
    color: rgb(158, 38, 38);
    text-decoration: underline;
    text-decoration-color: rgb(148, 38, 158);
}

li a:hover {
    background-color: gray;
}

.active {
    background-color: green;
}

p {
    font-size: 150%;
    color: rgb(255, 0, 0);
    background-color: aqua;
    border: 3px solid rgb(206, 30, 206);
}

h1 {
    text-align: center;
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.1em;
    text-indent: 0em;
    color: brown;
    background-color: white;
    border: 3px solid rgb(18, 223, 69);
}

h2 {
    word-spacing: 0.1em;
    padding-left: 2%;
    font-size: 220%; 
    margin-top: 2em; 
    margin-bottom: 1em;
    color: rgb(151, 41, 146);
    background-color: rgb(74, 148, 74);
}

h3 {
    word-spacing: 0.1em;
    padding-left: 4%;
    font-size: 180%;
    margin-top: 1em;
    color: rgb(172, 101, 9);
    background-color: rgb(226, 183, 43);
}