@import url('http://fonts.cdnfonts.com/css/papyrus');

body {
    background-image: url("book_background.jpg");
    background-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Papyrus", sans-serif;
}

pre {
    font-family: "Papyrus", sans-serif;
}

a {
    color: black;
    font-size: 130%;
    font-style: italic;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
}

p {
    font-size: 130%;
    margin-left: 5%;
    margin-right: 5%
}

.caption, .caption2 {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    opacity: 0.6;
    border: 3px solid black;
}
